.quick-links-item {
  border: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
}

.quick-links-list {
  border-bottom: 0;
  border-top: 0;
  overflow: hidden;
  width: 120px;
}