.cards {
  min-height: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}

.card-primary-wrapper {
  background: white url(img/noise_fff.png) repeat top left;
  position: relative;
  width: 840px;
  z-index: 15;
}

.card-secondary {
  position: absolute;
  z-index: 10;
}

.card-primary-suspender {
  clear: both;
  position: relative;
  width: 100%;
}

.card-full-width {
  clear: both;
  position: relative;
}

.card-primary {
  border-bottom: 1px solid #e1e1e1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid #e1e1e1;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 720px;
  position: relative;
}

.card-suspender {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  clear: both;
  color: #fff;
  float: left;
  margin-top: -1px;
  position: relative;
  width: 120px;
}

.card-clear {
  clear: both;
}

.card-section-name {
  color: #fff;
  font-family: 'Futura Today Bold',Arial,sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 13px;
  margin: 0;
  padding: 15px 5px 10px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
}

.card-subsection-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 225, 0.14);
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  padding: 0;
  &.selected {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 0;
    border-top-color: rgba(0, 0, 0, 0.35);
  }
  &:hover {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom-color: rgba(0, 0, 0, 0.05);
    border-top-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
}

.card-section-link {
  color: #fff;
  display: block;
  &:visited, &:hover {
    color: #fff;
    display: block;
  }
}

.card-subsection-link {
  color: #fff;
  display: block;
  padding: 10px 10px 10px 15px;
  &:visited, &:hover {
    color: #fff;
    display: block;
    padding: 10px 10px 10px 15px;
  }
}

.card-suspender-title {
  color: #fff;
  font-family: 'Futura Today Bold',Arial,sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 13px;
  margin: 0 0 0 1px;
  padding: 14px 8px 10px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  width: 103px;
}

.card-suspender-color {
  background: url(img/noise.png) repeat top left;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
  background-color: #009bff;
}

.partner-background .card-container {
  background: transparent;
}

.card-container, #cards-offset-placeholder {
  background: #f6f6f6 url(img/noise_f6f6f6.png) repeat top left;
}

.card-container {
  left: 0;
  padding-bottom: 20px;
  position: relative;
}

.card-wrap {
  background: transparent no-repeat top center;
  left: 0;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  top: 0;
  width: 840px;
  &.hidden {
    display: none;
  }
}

.card {
  position: relative;
  width: 840px;
  z-index: 5;
  div.sh_bottom {
    bottom: -45px;
    height: 45px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 0;
    &:after {
      background: transparent url(img/PageCurlDropShadRightR_0906.png) 100% 0 no-repeat;
      bottom: 0;
      content: "";
      height: 45px;
      right: 0;
      position: absolute;
      z-index: 0;
      width: 404px;
    }
    &:before {
      background: transparent url(img/PageCurlDropShadLeftR_0906.png) 0 0 no-repeat;
      bottom: 0;
      content: "";
      height: 45px;
      left: 0;
      position: absolute;
      z-index: 0;
      width: 404px;
    }
  }
}

.card-wrap-behind-overlay {
  bottom: 0;
  left: 50%;
  margin-left: -420px;
  position: absolute;
  padding: 0;
  z-index: 0;
}

@media only screen and (min-width: 1150px) {
  .card-wrap, .card {
    border-right: 0;
    width: 1080px;
  }
  .card-wrap-behind-overlay {
    margin-left: -540px;
  }
}

@media only screen and (min-width: 1250px) {
  .card-wrap, .card {
    width: 1180px;
  }
  .card-wrap-behind-overlay {
    margin-left: -590px;
  }
}

.card-suspender .clst-link {
  display: block;
  padding: 10px 12px 10px 15px;
}

.clst-link {
  color: inherit;
  &:visited, &:active, &:hover {
    color: inherit;
  }
}

.card-suspender .slst-header {
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 12px;
  margin: 0;
  padding: 20px 15px 15px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
  text-transform: uppercase;
}

.card-suspender-color.news {
  background-color: #1877b6;
}