.cards {
  min-height: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}

.card-primary-wrapper {
  background: white url(img/noise_fff.png) repeat top left;
  position: relative;
  width: 840px;
  min-height: 100vh;
  z-index: 15;
}

.card-full-width {
  clear: both;
  position: relative;
}

.card-primary {
  border-right: 1px solid #e1e1e1;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 720px;
  position: relative;
}

.card-suspender {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  clear: both;
  color: #fff;
  float: left;
  margin-top: -1px;
  position: relative;
  width: 120px;
}

.card-suspender-color {
  background: url(img/noise.png) repeat top left;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
  background-color: #009bff;
}

.card-container {
  background: #f6f6f6 url(img/noise_f6f6f6.png) repeat top left;
  left: 0;
  padding-bottom: 20px;
  position: relative;
}

.card-wrap {
  background: transparent no-repeat top center;
  left: 0;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  top: 0;
  width: 840px;
}

.card {
  position: relative;
  width: 840px;
  z-index: 5;
  div.sh_bottom {
    bottom: -45px;
    height: 45px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 0;
    &:after {
      background: transparent url(img/PageCurlDropShadRightR_0906.png) 100% 0 no-repeat;
      bottom: 0;
      content: "";
      height: 45px;
      right: 0;
      position: absolute;
      z-index: 0;
      width: 404px;
    }
    &:before {
      background: transparent url(img/PageCurlDropShadLeftR_0906.png) 0 0 no-repeat;
      bottom: 0;
      content: "";
      height: 45px;
      left: 0;
      position: absolute;
      z-index: 0;
      width: 404px;
    }
  }
}

@media only screen and (min-width: 1150px) {
  .card-wrap, .card {
    border-right: 0;
    width: 1080px;
  }
}

@media only screen and (min-width: 1250px) {
  .card-wrap, .card {
    width: 1180px;
  }
}

.card-suspender .clst-link {
  display: block;
  padding: 10px 12px 10px 15px;
}

.clst-link {
  color: inherit;
  &:visited, &:active {
    color: inherit;
  }
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

.card-suspender .slst-header {
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 12px;
  margin: 0;
  padding: 20px 15px 15px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
  text-transform: uppercase;
}

.card-suspender-color.alert {
  background-color: #ffc000;
}