footer {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.page-footer-links-container {
  width: 88%;
  margin: 80px auto 60px;
}

.page-footer-link-container {
  display: inline-block;
  width: 24%;
  text-align:center;
}

.page-footer-link {
  color: $color-grey-medium;
  text-decoration: none;
  @include transition(top .15s);

  &:hover {
    color: $color-grey-medium;
    text-decoration: underline;
  }
}

.page-footer-link-text {
  color: $color-grey-medium;
  font-family: 'Futura Today Bold',arial,sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 6px 5px 0 0;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
}

.site-footer-container {
  clear: left;
}

.site-footer-bar {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px 0 14px;
  background: transparent url(img/paper-noise-bar.png) repeat top left;
  color: #999;
}

.site-footer-bar-border {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  background-image: url(img/top-border.png);
  background-position: top left;
}

.site-footer-text {
  margin: 0 auto;
  color: #999;
}