.headline-tile {
  background-color: $color-blue-light;
  background-color: rgba(0, 0, 0, 0.8);

  & img {
    width: 100%;
    height: 100%;
  }
}

.headlines-header {
  background: #f2f2f2;
  border-bottom: 1px solid #e1e1e1;
  @include box-sizing(border-box);
  position: relative;
  padding: 10px 20px 9px;
  height: auto;
  overflow: auto;
}

.headlines-header-title {
  color: $color-grey-medium;
  float: left;
  font-family: $font-family;
  font-size: 15px;
  font-weight: 400;
  margin: 6px 5px 0 0;
  text-transform: uppercase;
  text-shadow: 0 1px 0 $color-white;

  &.single {
    width: 82%;
  }
}

.headlines-header-time {
  float: right;
  width:15%;
  margin: 6px 5px 0 0;
  font-size: 10px;
  text-align:right
}

.last-updated {
  color: $color-grey-light;
  float: left;
  font-size: 11px;
  margin: 10px 0 0;
}

.headline-item {
  background: url(img/headlines-shadow.png) 0 -1px no-repeat;
  color: $color-white;
  float: left;
  height: 243px;
  margin: 8px 0 7px 14px;
  position: relative;
  width: 220px;

  > .parent-label {
    left: 10px;
    top: 10px;
  }
}

.headline-tile {
  height: 220px;
  left: 10px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 10px;
  width: 200px;
}

.headline-item:hover .headline-item-front {
  opacity: 1;
  z-index: 0;

  .title {
    opacity: 0;
    visibility: hidden;
  }
}

.headline-item-back {
  opacity: 0;
}

.headline-item:hover .headline-item-back {
  z-index: 1;
  opacity: 1;
}

.headline-item-back, .headline-item:hover .headline-item-front .title {
  @include transition(opacity .2s ease-in-out);
}

.headline-item-front {
  z-index: 1;
}

.headline-item-front-title {
  display: table;
  font-weight: 700;
  margin: 0;
  position: absolute;
  -moz-font-feature-settings: "liga=1,dlig=1,kern=1,opbd=1,titl=1";
  -webkit-font-feature-settings: "liga","dlig","kern","opbd","titl";
  font-feature-settings: "liga","dlig","kern","opbd","titl";
}

.headline-item-front > .image {
  background: transparent url(img/pixel-black-70percent.png) repeat top left;
  border-top: 1px solid #000;
  bottom: 0;
  font-size: 13px;
  height: 39px;
  left: 0;
  line-height: 14px;
  padding: 8px 10px 10px;
  width: 180px;
}

.headline-item {
  color: $color-white;

  .headline-grid-story {
    color: $color-white;
    width: 100%;
    height: 100%;
    display: inline-block;

    &:hover img {
      @include transition(all .2s ease-in-out);
      @include scale(1.2);
    }
  }
}

.headline-item-back-text {
  color: $color-white;
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  line-height: 16px;
  margin: 20px 20px 0;
}

.headline-item-back-title {
  font-size: 14px;
  font-weight: 700;
  left: 18px;
  margin: 30px 20px 0;
  top: 40px;
  width: 165px;
}

.show-more {
  clear: both;
  margin: 5px auto 20px;
  text-align: center;
}