.parent-label {
  color: $color-white;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 1px;
  line-height: 12px;
  padding: 5px 6px 6px;
  position: absolute;
  text-transform: uppercase;
  top: 20px;
  z-index: 40;

  &:visited, &:hover {
    color: $color-white;
  }
}

.hero {
  background: white url(img/noise_fff.png);
  position: relative;
  width: 720px;
  z-index: 5;

  .parent-label {
    z-index: 54;
  }

  .media {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 50;

    > img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 52;
    }
  }
}

.hero-asset-open {
  cursor: pointer;
}

.hero-text {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(42%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.8) 100%);
  height: 100%;
  position: relative;
  z-index: 53;
}

.hero-story {
  bottom: 0;
  color: $color-white;
  position: absolute;
  width: 100%;
  z-index: 54;

  h1 {
    font-size: 35px;
    line-height: 40px;
    margin: 0 0 0 20px;
    width: 75%;

    a {
      @include transition(color .25s ease-out);
      color: $color-white;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    }
  }
}

.hero .actions {
  display: table;
  list-style: none;
  margin: 15px 20px 18px 22px;
  padding: 0;
  vertical-align: middle;

  li {
    border-left: 1px solid #dedede;
    display: table-cell;
    font-size: 14px;
    padding: 0 10px;
    vertical-align: middle;
    width: auto;

    &:first-child {
      border-left: 0;
      padding-left: 0;
    }

    a {
      color: $color-white;
      font-weight: 700;

      &:hover {
        color: #0af;
      }
    }
  }
}

.hero-headline-pack {
  height: 420px;
  position: relative;
  width: 720px;
}

.hero-left-pane {
  @include box-sizing(border-box);
  background: #000;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #ccc;
  height: 421px;
  left: 0;
  overflow: hidden;
  padding-right: 20px;
  position: absolute;
  top: 0;
  width: 400px;
  cursor: default;
}

.hero-headline-pack .hero-text {
  bottom: -1px;
  height: 100%;
  position: absolute;
  width: 100%;
}

.hero-headline-list-pane {
  @include box-sizing(border-box);
  background: #f8f8f8;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 421px;
  left: 400px;
  position: absolute;
  top: 0;
  width: 320px;
}

.hero-list {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.categories-list {
  width: 100%;
}

.hero-list-item, .categories-list-item {
  border-bottom: 1px solid $color-grey-super-light;
  color: $color-grey-medium;
  display: block;
  float: left;
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  padding: 10px 0 10px;
  margin: 0;
  text-align: left;
  width: 100%;
}

.categories-list-item {
  width: 20%;
  margin: 0 5% 0 0;
}

a.hero-list-anchor, a.categories-list-anchor {
  color: $color-grey-medium;
  display: inline-block;
  float: left;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

.hero-head {
  color: $color-grey-light;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-transform: uppercase;
  top: 12px;
}

@media only screen and (max-width: 1149px) {
  a.hero-list-anchor {
    padding: 11px 0 10px;
  }
}

.front-bump-shadow {
  background: url(img/shadow-border.png) repeat-x left -10px;
  display: block;
  height: 9px;
  margin: -29px 0 0 0;
  overflow: visible;
  position: relative;

  &:before {
    background: url(img/shadow-border.png) -21px -26px;
    content: '';
    height: 366px;
    left: -18px;
    position: absolute;
    top: 0;
    width: 18px;
    z-index: 2;
  }

  &:after {
    background: url(img/shadow-border.png) -40px -26px;
    content: '';
    height: 366px;
    position: absolute;
    right: -18px;
    top: 0;
    width: 18px;
    z-index: 2;
  }
}

.content-info-icon-text {
  line-height: 18px;
}

.article-single {
  padding: 20px;

  & p {
    margin-bottom: 1.5em;
  }

  & blockquote p {
    margin-bottom:0;
  }

  & ul, ol {
    margin: 0 0 1.5em 0;
    padding: 0 2em;
  }
}

.image-wrap {
  width: 200px;
  height: 220px;

  &.single {
    float: left;
    width: 150px;
    height: 160px;
    margin: 0 20px 10px 0;

    & > img {
      width: 150px;
      height: 160px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    }
  }
}