.site-nav {
  border-top: 1px solid #343434;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  height: 39px;
  position: relative;
  width: 100%;
  z-index: 9005;
}

.site-nav-list {
  margin-top: -1px;
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.site-nav-logo-item {
  border: 0;
  margin-left: -10px;
  overflow: hidden;
}

.site-nav-item {
  float: left;
  &.site-nav-first-primary-item {
    border-left: 1px solid #343434;
  }
  &:hover {
    transition: background-color .15s;
  }
}

.site-nav-logo-link {
  float: left;
  transition: background-color .15s;
  &:hover {
    background: #333;
  }
}

.site-nav-link {
  border-right: 1px solid #343434;
  color: #fff;
  display: block;
  position: relative;
  font-family: 'Futura Today Bold',Helvetica,Arial,sans-serif;
  font-size: 11px;
  outline: 0;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  &:hover, &:visited {
    color: #fff;
  }
}

.site-nav-logo-img {
  margin: 0 10px;
}

.site-header-inner-wrap-fixed {
  position: fixed;
}

.site-header-inner-wrap {
  @include gradient-vertical($startColor: rgba(69,72,77,1), $endColor: rgba(68,68,68,1));
  min-width: 980px;
  width: 100%;
  z-index: 9000;
}

.site-nav-text-span {
  &.site-nav-first-primary-span {
    margin-left: 0;
  }
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  margin: -1px -1px 0 0;
  text-align: center;
}

.site-nav-logo-span {
  line-height: 44px;
}

.site-nav-news-link {
    border-top-color: #009bff;
  }

ul.site-nav-list {
  li:nth-child(2):hover, li:nth-child(7):hover {
    background: #009bff;
  }

  .site-nav-sports-link {
    border-top-color: #b81800;
  }

  li:nth-child(3):hover, li:nth-child(8):hover {
    background: #b81800;
  }

  .site-nav-life-link {
    border-top-color: #9600b4;
  }

  li:nth-child(4):hover, li:nth-child(9):hover {
    background: #9600b4;
  }

  .site-nav-money-link {
    border-top-color: #00a53c;
  }

  li:nth-child(5):hover {
    background: #00a53c;
  }

  .site-nav-tech-link {
    border-top-color: #fa5f00;
  }

  li:nth-child(6):hover {
    background: #fa5f00;
  }
}

.site-nav-text-link {
  border-style: solid;
  border-width: 2px 1px 0 0;
  height: 38px;
  margin: 0 0 0 -1px;
}

.site-nav-span {
  display: block;
  position: relative;
  z-index: 9005;
}
.site-nav-icon-span:after {
  background: transparent url(img/header-sprite.png) no-repeat bottom right;
  content: '';
  display: inline-block;
  height: 20px;
  left: 50%;
  opacity: .7;
  position: absolute;
  top: 11px;
  width: 20px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0);
  transition: opacity .15s;
}

.site-nav-search-span {
  width: 19px;
}

.site-nav-icon-span {
  height: 40px;
  overflow: hidden;
  padding: 0 10px;
  text-indent: -10000em;
  white-space: nowrap;
  &:after {
    background-image: url(img/header-sprite.png);
  }
}

.site-nav-search-span:after {
  background-position: -62px 0;
  height: 18px;
  margin-left: -10px;
  top: 11px;
  width: 19px;
}

.site-nav-icon-link {
  height: 40px;
  transition: background-color .15s;
  &:hover {
    background: #333;
  }
}

.site-nav-first-secondary-link {
  border-left: 1px solid #343434;
}

.site-nav-secondary-item {
  float: right;
}