.related-articles-container {
  border: 1px solid $color-grey-super-light;
  margin: 0 0 20px 10px;
  position: relative;
  float: right;
}

.related-articles-header-title {
  @extend .headlines-header-title;
  font-size: 14px;
}

.related-articles {
  position: relative;
  text-align: center;
  width: 200px;
  z-index: 0;
}

ul.related-article-list {
  list-style: none;
  position: relative;
  padding: 0 20px !important;
  margin: 0 !important;

  & li:last-child {
    border-bottom: none;
  }
}

.no-related-articles {
  margin-top: 1.5em;
  text-align: left;
  font-size: 12px;
}