.related-articles-container, .categories-container {
  border: 2px solid $color-grey-super-light;
  position: relative;
}

.related-articles-container {
  margin: 60px 10px 40px;
}

.categories-container {
  margin: 40px 10px 20px;
}

.related-articles-header-title, .categories-header-title {
  @extend .headlines-header-title;
  font-size: 14px;
}

.related-articles, .categories {
  position: relative;
  text-align: center;
}

ul.related-article-list, ul.categories-list {
  list-style: none;
  position: relative;
  padding: 0 20px !important;
  margin: 0 !important;

  & li:last-child {
    border-bottom: none;
  }
}

.no-related-articles {
  margin-top: 1.5em;
  text-align: left;
  font-size: 12px;
}