@font-face {
  font-family:'Futura Today';
  src:url(resources/futura_today_normal.eot);
  src:url(resources/futura_today_normal.eot?#iefix) format('embedded-opentype'),
      url(resources/futura_today_normal.woff) format('woff'),
      url(resources/futura_today_normal.ttf) format('truetype'),
      url(resources/futura_bold-webfont.svg#FuturaBold) format('svg');
  font-style:normal;
}

@font-face {
  font-family:'Futura Today Bold';
  src:url(resources/futura_today_bold.eot);
  src:url(resources/futura_today_bold.eot?#iefix) format('embedded-opentype'),
      url(resources/futura_today_bold.woff) format('woff'),
      url(resources/futura_today_bold.ttf) format('truetype'),
      url(resources/futura_bold-webfont.svg#FuturaBold) format('svg');
  font-style:normal;
}

@font-face {
  font-family:'Futura Today Light';
  src:url(resources/futura_today_light.eot);
  src:url(resources/futura_today_light.eot?#iefix) format('embedded-opentype'),
      url(resources/futura_today_light.woff) format('woff'),
      url(resources/futura_today_light.ttf) format('truetype'),
      url(resources/futura_today_light.svg#FuturaLight) format('svg');
  font-style:light;
}

.no-content-message {
  width: 90%;
  margin: 20px auto;
}

%blockquote-bar {
  font-size: 44px;
  position: absolute;
  height:2px;
  text-align: center;
  left: 20px;
  right: 20px;
  line-height: .5;
  background-image: -webkit-linear-gradient( 0deg, $color-grey-super-light 35%, transparent 35%, transparent), -webkit-linear-gradient( 0deg, transparent, transparent 65%, $color-grey-super-light 65%);
}

blockquote {
  float: left;
  width: 200px;
  padding: 40px 20px;
  margin: 0 30px 20px 0;
  background-color: transparent;
  border: 1px solid $color-grey-super-light;
  font-weight: bold;
  line-height: 1.8;
  text-transform: uppercase;
  color: $color-grey-medium;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  @include transition(all .2s ease-in-out);

  &:hover {
    background-color: $color-grey-medium;
    color: $color-grey-super-light;
  }

  &:before {
    content: '\201C';
    @extend %blockquote-bar;
    top: 20px;
    &:hover {
      color: $color-link-hover;
    }
  }
  &:after {
    content: '\201D';
    @extend %blockquote-bar;
    bottom: 20px;
  }

  & > p {
    margin-bottom: 0;
  }
}